@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* * * * * * * *
	1.GLOBALS
* * * * * * * */

:root {
	--primary-color: #121212;
	--secondary-color: #FF4136;
	--tetriary-color: #3DB0C1;
	--off-white: #EEE;
	--warning-red: #B3343A;

	/*Fonts and font sizes */
	--small-text-size: 12px;
	--normal-text-size: 18px;
	--biger-text-size: 26px;
	--bigest-text-size: 32px;
}

body {
	background-color: var(--primary-color);
	font-family: Karla;
	color: var(--off-white);
}

a {
	text-decoration: none;
	color: var(--secondary-color);
}

a:hover,
a:focus {
	text-decoration: underline;
}

button {
	all: initial;
	user-select: none;
}

.active {
	font-weight: bold;
	text-decoration: underline;
}

.center-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.center-wrapper-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.orange-button {
	color: var(--primary-color);
	background-color: var(--secondary-color);
	font-family: Karla;
	font-weight: bold;
	font-size: var(--normal-text-size);
	padding: 0.5rem;
	border-radius: 5px;
	cursor: pointer;
}

.orange-button-small {
	color: var(--primary-color);
	background-color: var(--secondary-color);
	font-family: Karla;
	font-weight: bold;
	font-size: var(--small-text-size);
	padding: 0.25rem;
	border-radius: 5px;
	cursor: pointer;
}

.orange-button:hover,
.orange-button:focus, 
.orange-button-small:hover,
.orange-button-small:focus {
	background-color: #dd3146;
}

.dark-input {
	background-color: var(--primary-color);
	border: 1px solid var(--off-white);
	border-radius: 5px;
	text-indent: 0.5rem;
	color: var(--off-white);
	font-size: var(--normal-text-size);
}

.white-label{
	font-size: var(--normal-text-size);
}

@media(max-width: 550px) {
	:root {
		--small-text-size: 9px;
		--normal-text-size: 15px;
		--biger-text-size: 18px;
		--bigest-text-size: 20px;
	}
}
/* * * * * * * *
	2.NAVBAR
* * * * * * * */

nav {
	height: 9vh;
	display: grid;
	grid-template-columns: auto 1fr auto;
	gap: 20px;
	align-items: center;
	justify-content: space-evenly;
	padding: 0 4rem;
}

.nav-image-section {
	width: 300px;
	overflow: hidden;
}

.nav-image-section img {
	max-width: 100%;
}

.nav-search-form input{
	width: 100%;
	font-family: Karla;
	font-size: var(--normal-text-size);
}

.nav-controls-section {
	gap: 5px;
	font-size: var(--normal-text-size);
}

.nav-controls-section a {
	color: var(--off-white);
}

.nav-controls-section a:hover,
.nav-controls-section a:focus {
	color: var(--secondary-color);
}

#nav-cart-link {
	position: relative;
}

#nav-cart-link:hover,
#nav-cart-link:focus {
	color: var(--off-white);
}

.cart-icon {
	width: 30px;
}

.item-count {
	position: absolute;
	font-size: 14px;
	width: 20px;
	height: 20px;
	bottom: 0;
	right: 0;
	background-color: var(--secondary-color);
	border-radius: 50%;
}

@media(max-width: 850px) {
	nav {
		height: auto;
		grid-template-columns: 1fr;
		grid-auto-rows: minmax(min-content, max-content);
	}
	
	.nav-image-section {
		height: 80px;
		justify-self: center;
	}

	.nav-controls-section {
		display: flex;
		justify-content: center;
		gap: 30px;
	}
}

/* * * * * * * *
	3.FOOTER
* * * * * * * */

footer {
	padding: 30px 10px;
}

.footer-links {
	display: flex;
	gap: 20px;
}

.footer-links > * {
	display: flex;
	flex-direction: column;
}

footer h3 {
	color:var(--tetriary-color);
	font-size: var(--normal-text-size);
	font-weight: bold;
}

.footer-links a {
	color: #a0a0a0;
}

.footer-links a:hover,
.footer-links a:focus {
	color: var(--tetriary-color);
	text-decoration: none;
}

.footer-links .active {
	font-weight: normal;
	text-decoration: none;
}

/* * * * * * * *
	4.HOME
* * * * * * * */

.home > section {
	margin-top: 5vh;
}

/* * * * * * * *
	4.1.HERO
* * * * * * * */

.carousel-section {
	width: 80vw;
	height: 70vh;
}

.carousel-container {
	height: 100%;
	align-items: normal;
}

.hero-carousel-item {
	position: relative;
	isolation: isolate;
}

.text-overlay {
	letter-spacing: 0.1em;
	position: absolute;
	width: 50ch;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
}

.text-overlay > h1 {
	color: var(--secondary-color);
	font-weight: bold;
	font-size: var(--bigest-text-size);
	line-height: 2rem;
}

.text-overlay > p {
	line-height: 2rem;
	margin: 20px 0;
	font-size: var(--biger-text-size);
}

.styled-flair {
	background-color: var(--tetriary-color);
	color: var(--primary-color);
	font-size: var(--normal-text-size);
	font-weight: bold;
	padding: 20px;
	position: absolute;
	z-index: 2;;
}

.featured {
	position: absolute;
	top: 50%;
	transform: translate(10%, -50%);
	z-index: 2;
	gap: 40px;
}

.featured img {
	width: 40%;
}

.featured-details {
	width: 40ch;
}

.featured-details > * {
	margin-bottom: 20px;
	letter-spacing: 0.1em;
}

.featured-details > h3 {
	color: var(--tetriary-color);
	font-size: var(--biger-text-size);
	font-weight: bold;
}

.featured-details > p {
	font-size: var(--normal-text-size);
	line-height: 1.4rem;
}

.featured-price {
	font-weight: bold;
	color: var(--tetriary-color);
}

.carousel-image {
	width: 100%;
	height: 70vh;
	filter: brightness(0.4);
	z-index: 1;
}

.react-multiple-carousel__arrow--left,
.react-multiple-carousel__arrow--right {
	top: 50%;
}

.react-multiple-carousel__arrow--left {
	left: 0;
}

.react-multiple-carousel__arrow--right {
	right: 0;
}

.carousel-section .react-multi-carousel-dot--active button {
	background-color: var(--off-white);
}

@media(max-width: 650px) {
	.text-overlay {
		width: auto;
	}

	.text-overlay > h1,
	.text-overlay > p, 
	.featured-details > p {
		line-height: initial;
	}

	.styled-flair {
		padding: 10px;
	}

	.featured {
		transform: translate(0%, -50%);
		gap: 10px;
		flex-direction: column;
		text-align: center;
	}

	.featured img {
		width: 50%;
	}

	.featured-details {
		width: auto;
	}

	.featured-details > * {
		margin-bottom: 10px;
		letter-spacing: auto;
	}
}

/* * * * * * * *
	4.2.GAMES
* * * * * * * */
.home-games-section {
	width: 80vw;
	min-height: 60vh;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.home-games-section > h2 {
	color: var(--secondary-color);
	font-weight: bold;
	font-size: var(--bigest-text-size);
	align-self: center;
	text-align: center;
}

.home-games-section > button {
	align-self: center;
}

.game-carousel-container {
	height: 550px;
	align-items: normal;
	gap: 10px;
}

.game-carousel-container .game-card-image {
	height: 70%; 
}

/* * * * * * * *
 4.3.SUBSCRIBE
* * * * * * * */

.home-subscribe-section {
	display: flex;
	flex-direction: column;
	gap: 20px;
	max-width: 650px;
	padding: 20px;
}

.home-subscribe-section > h2 {
	color: var(--secondary-color);
	font-weight: bold;
	font-size: var(--bigest-text-size);
	text-align: center;
}

.home-subscribe-section p {
	font-size: var(--normal-text-size);
}

.home-subscribe-section span {
	color: var(--secondary-color);
	font-weight: bold;
}

.home-sub-form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
}

.home-sub-form > div {
	width: 100%;
	display: grid;
	grid-template-columns: 100px 1fr;
	gap: 10px;
}

.home-sub-form input[type=checkbox] {
	justify-self: center;
	align-self: center;
}

/* * * * * * * *
   5.GAME CARD
* * * * * * * */

.game-card {
	height: 100%;
	text-align: center;
	gap: 10px;
}

.game-card-title > a {
	color: var(--tetriary-color);
	font-weight: bold;
	font-size: var(--normal-text-size);
}

.game-card-genres-section {
	color: rgb(56, 73, 89);
	display: flex;
	flex-wrap: wrap;
	gap: 2ch;
}

.game-card-price {
	font-weight: bold;
	color: var(--tetriary-color);
}

/* * * * * * * *
  6.CHECKOUT 
* * * * * * * */

.checkout-table-section {
	min-height: 80vh;
	margin: 2rem;
	font-size: var(--normal-text-size);
}

.checkout-table-section h2 {
	color: var(--secondary-color);
	font-size: var(--biger-text-size);
	font-weight: bold;
	text-align: center;
}

.checkout-wrapper {
	gap: 1rem;
}

.checkout-wrapper > p {
	text-align: center;
}

.remove-button {
	font-family: Roboto;
	color: var(--tetriary-color);
	cursor: pointer;
}

.remove-button:hover,
.remove-button:focus {
	text-decoration: underline;
}

.checkout-table {
	table-layout: fixed;
}

.checkout-table td {
	padding: 1rem;
}

.checkout-table tr:last-child {
	border-top: 2px solid var(--secondary-color);
}

#total-price {
	font-weight: bold;
	color: var(--secondary-color);
}

@media(max-width: 550px) {
	tr:not(:last-child) > td:nth-child(2){
		display: none;
	}
}

/* * * * * * * *
  7.PURCHASE 
* * * * * * * */

.complete-purchase-wrapper {
	min-height: 80vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100vw;
	justify-content: center;
	align-items: center;
}

.complete-purchase-form {
	gap: 0.5rem;
}

@media(max-width: 600px) {
	.complete-purchase-wrapper {
		grid-template-columns: none;
		grid-template-areas: 
			"form"
			"card";
	}

	.complete-purchase-form {
		grid-area: form;
	}
}

/* * * * * * * *
  8.PAGINATION
* * * * * * * */

.pagination {
	list-style: none;
	margin: 2rem 0 5rem 0;
	font-size: var(--normal-text-size);
	gap: 5px;
}

.pagination .page-num {
	color: var(--off-white);
	padding: 8px 15px;
	cursor: pointer;
	border-radius: 3px;
	font-weight: 400;
}

.pagination .page-num:hover,
.pagination .page-num:focus {
	text-decoration: none;
	border: 1px solid;
}

.pagination .active {
	text-decoration: none;
	border: 1px solid;
}

/* * * * * * * *
	9.STORE
* * * * * * * */

.store {
	display: grid;
	grid-template-areas: 'filters games';
	align-items: center;
}

.store > main {
	grid-area: games;
	width: 80vw;
	border-left: 1px solid var(--off-white);
}

.store .game-cards {
	padding: 20px;
	display: grid;
	grid-template-rows: repeat(3, auto);
	grid-template-columns: repeat(3, auto);
	grid-gap: 20px;
	justify-items: center;
}

.store .game-card {
	width: 150px;
	height: 400px;
	padding: 10px;
}

.store .game-card-image {
	width: 120px;
	height: 200px;
}


.store > aside {
	grid-area: filters;
	gap: 20px;
	font-family: Roboto;
	align-self: flex-start;
	margin-top: 50px;
}

.store-controls > h2 {
	font-size: var(--biger-text-size);
	width: 100%;
	color: var(--secondary-color);
	text-align: center;
}

.store-filters-form {
	gap: 20px;
	width: 100%;
}

.store-filters-form > div {
	gap: 10px;
	width: 100%;
}

.store-controls label {
	font-size: var(--normal-text-size);
	font-weight: bold;
	color: var(--off-white);
}

@media(max-width: 850px) {
	.store {
		grid-template-areas: 'filters' 'games';
	}
	.store > main {
		width: auto;
		border-left: none;
		border-top: 1px solid var(--off-white);
	}
	.store-controls {
		margin-bottom: 20px;
	}

	.store-filters-form {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.store-filters-form > div {
		flex-direction: row;
	}
}

/* * * * * * * *
10.GAME DETAILS
* * * * * * * */

.game-details-wrapper{
	width: 80%;
	display: grid;
	grid-template-areas: 
		'title title'
		'image desc'
		'recs recs';
	gap: 20px;
}

.game-details-wrapper > h2 {
	grid-area: title;
	font-size: var(--bigest-text-size);
	font-weight: bold;
}

.game-details-wrapper > .game-details-image-section{
	grid-area: image;
}

.game-details-image-section img {
	max-height: 80vh;
	max-width: 100%;
}

.game-details-wrapper > .game-details-details-section{
	grid-area: desc;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	font-size: var(--normal-text-size);
	justify-self: flex-start;
}

.game-details-details-section h3,
.game-details-price {
	font-weight: bold;
	color: var(--secondary-color);
}

.game-details-details-section p {
	max-width: 50ch;
	line-height: 1.5rem;
}

.game-details-details-section span {
	color: white;
}

.game-details-details-section button {
	align-self: center;
}

.sold-out {
	font-size: var(--biger-text-size);
	font-weight: bold;
	color:var(--warning-red);
}

.rec-carousel-section {
	grid-area: recs;
	max-width: 80vw;
}

.rec-carousel-section h2 {
	font-size: var(--biger-text-size);
	font-weight: bold;
}

.rec-carousel-section .game-carousel-container {
	height: 550px;
	align-items: normal;
	gap: 10px;
}

@media(max-width: 850px) {
	.game-details-wrapper{
		grid-template-areas: 
			'title'
			'image'
			'desc'
			'recs';
	}
	.game-details-details-section {
		gap: 1rem;
	}
}

/* * * * * * * *
  10.CONTROLS
* * * * * * * */

.controls-nav {
	font-size: var(--normal-text-size);
}

.controls-nav > h1 {
	font-weight: bold;
}

.controls-form {
	display: grid;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
	gap: 1rem;
}

.controls-form label {
	font-size: var(--normal-text-size);
}

.controls-form > div {
	display: grid;
	grid-template-columns: 200px auto;
	gap: 1rem;
}

.controls-form > button {
	place-self: center;
}

.genre-cards-wrapper,
.consoles-cards-wrapper {
	gap: 1rem;
}

.grid-list-wrapper{
	display: grid;
	grid-template-columns: 200px auto auto;
	gap: 1rem;
}

.grid-list-wrapper > button {
	place-self: center;
}

.grid-list-wrapper > h1 {
	font-size: var(--normal-text-size);
}

.two-cols {
	grid-column: span 2;
}

.accent-label {
	font-weight: bold;
	text-decoration: underline;
}

#image {
	width: 200px;
}

#image ~ input{
	align-self: flex-end;
}

.games-panel > .game-cards{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: auto;
	place-items: center;
}

.games-panel .game-cards > div {
	width: 30%;
}

.games-panel .game-cards > div > img{
	width: 100%;
}

@media(max-width: 550px) {
	.controls-form > div {
		grid-template-columns: 70px auto;
	}

	.grid-list-wrapper{
		grid-template-columns: 70px auto auto;
	}

	.games-panel > .game-cards{
		grid-template-columns: 1fr;
		gap: 1rem;
	}

	#image {
		width: 80px;
	}
}
